*{
    margin: 0;
    padding: 0;
    font-family: "Scada", sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: rgb(240, 240, 240);
    color: rgb(60, 60, 60);
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0px;
}

/* --------------------------------------------------------Header-------------------------------------------------------- */

#header{
    padding: 10px 100px;
    width: 100%;
    position: fixed;
    background: rgb(225, 225, 225);
    z-index: 99;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-item{
    display: inline-block;
    list-style: none;
}

.nav-link{
    margin-right: 100px;
    text-decoration: none;
    color: rgb(60, 60, 60);
    font-size: 17.5px;
    font-weight: 700;
    transition: 1s;
}

.nav-link:hover{
    color: rgb(180, 150, 0);
}

.active-link{
    color: rgb(180, 150, 0);
}

.nav-contact{
    margin-left: 100px;
    text-decoration: none;
    color: rgb(60, 60, 60);
    font-size: 33px;
    transition: 1s;
}

.nav-contact:hover{
    color: rgb(180, 150, 0);
}

#nav-close{
    display: none;
}

#nav-open{
    display: none;
}

/* --------------------------------------------------------Home-------------------------------------------------------- */

#home{
    padding: 10px 100px;
    width: 100%;
}

.home-name{
    margin-top: 75px;
    font-size: 72px;
    font-weight: 700;
}

.home-title{
    margin-bottom: 40px;
    color: rgb(180, 150, 0);
    font-size: 54px;    
}

.services-grid{
    margin-top: 40px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 25px;
}

.service{
    padding: 25px;
    border: 3.75px solid rgb(225, 225, 225);
    background: rgb(240, 240, 240);
}

#service-icon{
    margin-bottom: 25px;
    color: rgb(180, 150, 0);
    font-size: 120px;
}

.service-title{
    margin-bottom: 10px;
    color: rgb(60, 60, 60);
    font-size: 17.5px;
    font-weight: 700;
}

.service-text{
    color: rgb(60, 60, 60);
}

/* --------------------------------------------------------About-------------------------------------------------------- */

#about{
    padding: 10px 0px 0px 0px;
    width: 100%;
}

.about-up{
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-left{
    flex-basis: 30%;
}

.about-image{
    display: block;
    width: 100%;
}

.about-right{
    flex-basis: 67.5%;
}

.about-name{
    font-size: 54px;
    font-weight: 700;
}

.about-title{
    margin-bottom: 40px;
    color: rgb(180, 150, 0);
    font-size: 48px;
}

.about-link{
    padding: 20px 25px;
    width: fit-content;
    background: rgb(225, 225, 225);
    text-decoration: none;
    color: rgb(60, 60, 60);
    cursor: pointer;
    transition: 1s;
}

.about-link:hover{
    background: rgb(180, 150, 0);
}

.about-down{
    margin: 60px 0 0 0;
    padding: 20px 100px;
    width: 100%;
    background: rgb(225, 225, 225);
    color: rgb(60, 60, 60);
}

.about-tab{
    display: flex;
}

.tab-link{
    margin-bottom: 30px;
    margin-right: 100px;
    position: relative;
    color: rgb(60, 60, 60);
    font-size: 17.5px;
    font-weight: 700;
    cursor: pointer;
    transition: 1s;
}

.tab-link::after{
    content: "";
    width: 0;
    height: 3.5px;
    position: absolute;
    left: 0;
    bottom: -10px;
    background: rgb(180, 150, 0);
    transition: 1s;
}

.tab-link:hover{
    color: rgb(180, 150, 0);
}

.tab-link:hover::after{
    width: 100%;
}

.active-tab{
    color: rgb(180, 150, 0);
}

.active-tab::after{
    width: 100%;
}

.tab-contents{
    display: none;
}

.active-contents{
    display: block;
}

.contents-period{
    margin-bottom: 5px;
    font-weight: 700;
}

.contents-title{
    margin-bottom: 10px;
}

.title{
    color: rgb(180, 150, 0);
    font-weight: 700;
}

.text{
    font-weight: 700;
}

.contents-text{
    margin-bottom: 20px;
}


/* --------------------------------------------------------Portfolio-------------------------------------------------------- */

#portfolio{
    padding: 10px 100px;
    width: 100%;
}

.projects-grid{
    margin-top: 75px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 25px;
}

.project-link{
    text-decoration: none;
    color: rgb(180, 180, 180);
}

.project{
    padding: 25px;
    height: 100%;
    border: 3.75px solid rgb(225, 225, 225);
    background: rgb(240, 240, 240);
    transition: 1s;
}

.project:hover{
    border: 3.75px solid rgb(180, 150, 0);
}

.project-image{
    margin-bottom: 25px;
    display: block;
    width: 100%;
}

.project-title{
    margin-bottom: 10px;
    color: rgb(60, 60, 60);
    font-size: 17.5px;
    font-weight: 700;
}

.project-text{
    color: rgb(60, 60, 60);
}

/* --------------------------------------------------------Report-------------------------------------------------------- */

#report{
    padding: 10px 0 0 0;
    width: 100%;
}

.report-up{
    padding: 10px 100px;
}

.report-title{
    margin-top: 75px;
    font-size: 48px;
    font-weight: 700;
}

.report-image{
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    width: 100%;
}

.report-down{
    padding: 20px 100px;
    background: rgb(0, 0, 0);
}

.report-heading{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}

.report-text{
    margin-bottom: 20px;
}

.report-link{
    text-decoration: line;
    color: rgb(60, 60, 60);
    font-weight: 400;
    transition: 1s;
}

.report-link:hover{
    color: rgb(180, 150, 0);
}

/* --------------------------------------------------------Footer-------------------------------------------------------- */

#footer{
    padding: 10px 100px;
    width: 100%;
    background: rgb(180, 150, 0);
}

.footer-text{
    color: rgb(60, 60, 60);
}



/* --------------------------------------------------------CSS for Small Screens-------------------------------------------------------- */

@media only screen and (max-width: 600px) {

*{
    margin: 0;
    padding: 0;
    font-family: "Scada", sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: rgb(240, 240, 240);
    color: rgb(60, 60, 60);
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0px;
}


/* --------------------------------------------------------Header-------------------------------------------------------- */

#header{
    padding: 10px;
    width: 120px;
    height: 100%;
    top: 0;
    left: -120px;
    position: fixed;
    background: rgb(225, 225, 225);
    z-index: 99;
    transition: 1s;
}

nav{
    padding-top: 25px;
    display: block;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-item{
    margin: 25px 10px;
    display: block;
    list-style: none;
}

.nav-link{
    margin-right: 0;
    text-decoration: none;
    color: rgb(60, 60, 60);
    font-size: 17.5px;
    font-weight: 700;
    transition: 1s;
}

.nav-link:hover{
    color: rgb(180, 150, 0);
}

.active-link{
    color: rgb(180, 150, 0);
}

.nav-contact{
    margin-left: 0;
    text-decoration: none;
    color: rgb(60, 60, 60);
    font-size: 33px;
    transition: 1s;
}

.nav-contact:hover{
    color: rgb(180, 150, 0);
}

#nav-close{
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgb(60, 60, 60);
    font-size: 33px;
    transition: 1s;
}

#nav-open{
    display: block;
    padding: 10px;
    width: 100%;
    position: fixed;
    background: rgb(225, 225, 225);
    color: rgb(60, 60, 60);
    font-size: 33px;
    transition: 1s;
}

#nav-close:hover{
    color: rgb(180, 150, 0);
}

#nav-open:hover{
    color: rgb(180, 150, 0);
}



/* --------------------------------------------------------Home-------------------------------------------------------- */

#home{
    padding: 10px;
    width: 100%;
}

.home-name{
    margin-top: 75px;
    font-size: 72px;
    font-weight: 700;
}

.home-title{
    margin-bottom: 40px;
    color: rgb(180, 150, 0);
    font-size: 54px;
}

.services-grid{
    margin-top: 40px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 25px;
}

.service{
    padding: 25px;
    border: 3.75px solid rgb(225, 225, 225);
    background: rgb(240, 240, 240);
}

#service-icon{
    margin-bottom: 25px;
    color: rgb(180, 150, 0);
    font-size: 120px;
}

.service-title{
    margin-bottom: 10px;
    color: rgb(60, 60, 60);
    font-size: 17.5px;
    font-weight: 700;
}

.service-text{
    color: rgb(60, 60, 60);
}

/* --------------------------------------------------------About-------------------------------------------------------- */

#about{
    padding: 10px 0 0 0;
    width: 100%;
}

.about-up{
    margin-top: 75px;
    padding: 10px;
    display: block;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-left{
    flex-basis: 30%;
}

.about-image{
    margin-bottom: 25px;
    display: block;
    width: 100%;
}

.about-right{
    flex-basis: 67.5%;
}

.about-name{
    font-size: 54px;
    font-weight: 700;
}

.about-title{
    margin-bottom: 40px;
    color: rgb(180, 150, 0);
    font-size: 48px;
}

.about-link{
    padding: 20px 25px;
    width: fit-content;
    background: rgb(225, 225, 225);
    text-decoration: none;
    color: rgb(60, 60, 60);
    cursor: pointer;
    transition: 1s;
}

.about-link:hover{
    background: rgb(180, 150, 0);
}

.about-down{
    margin: 60px 0 0 0;
    padding: 20px 10px;
    width: 100%;
    background: rgb(225, 225, 225);
    color: rgb(60, 60, 60);
}

.about-tab{
    display: flex;
}

.tab-link{
    margin-bottom: 30px;
    margin-right: 50px;
    position: relative;
    color: rgb(60, 60, 60);
    font-size: 17.5px;
    font-weight: 700;
    cursor: pointer;
    transition: 1s;
}

.tab-link::after{
    content: "";
    width: 0;
    height: 3.75px;
    position: absolute;
    left: 0;
    bottom: -10px;
    background: rgb(180, 150, 0);
    transition: 1s;
}

.tab-link:hover{
    color: rgb(180, 150, 0);
}

.tab-link:hover::after{
    width: 100%;
}

.active-tab{
    color: rgb(150, 120, 0);
}

.active-tab::after{
    width: 100%;
}

.tab-contents{
    display: none;
}

.active-contents{
    display: block;
}

.contents-period{
    margin-bottom: 5px;
    font-weight: 700;
}

.contents-title{
    margin-bottom: 10px;
}

span{
    color: rgb(150, 120, 0);
    font-weight: 700;
}

.contents-text{
    margin-bottom: 20px;
}


/* --------------------------------------------------------Portfolio-------------------------------------------------------- */

#portfolio{
    padding: 10px;
    width: 100%;
}

.projects-grid{
    margin-top: 75px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 25px;
}

.project-link{
    text-decoration: none;
    color: rgb(60, 60, 60);
}

.project{
    padding: 25px;
    height: 100%;
    border: 3.75px solid rgb(225, 225, 225);
    background: rgb(240, 240, 240);
    transition: 1s;
}

.project:hover{
    border: 7.5px solid rgb(180, 150, 0);
}

.project-image{
    margin-bottom: 25px;
    display: block;
    width: 100%;
}

.project-title{
    margin-bottom: 10px;
    color: rgb(60, 60, 60);
    font-size: 17.5px;
    font-weight: 700;
}

.project-text{
    color: rgb(60, 60, 60);
}

/* --------------------------------------------------------Report-------------------------------------------------------- */

#report{
    padding: 10px 0 0 0;
    width: 100%;
}

.report-up{
    padding: 10px;
}

.report-title{
    margin-top: 75px;
    font-size: 48px;
    font-weight: 700;
}

.report-image{
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    width: 100%;
}

.report-down{
    padding: 20px 10px;
    background: rgb(0, 0, 0);
}

.report-heading{
    margin-bottom: 10px;
    color: rgb(150, 120, 0);
    font-size: 20px;
    font-weight: 700;
}

.report-heading-2{
    margin-bottom: 5px;
    color: rgb(180, 180, 180);
    font-size: 16px;
    font-weight: 700;
}

.report-text{
    margin-bottom: 20px;
    color: rgb(180, 180, 180);
}

/* --------------------------------------------------------Footer-------------------------------------------------------- */

#footer{
    padding: 10px;
    width: 100%;
    background: rgb(180, 150, 0);
}

.footer-text{
    color: rgb(60, 60, 60);
}

}